@import 'variable';

body, html, textarea {
  font-family: $font-stack;
}

body {
  background: rgb(240,240,240);
  background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(213,255,235,1) 100%);
  height: 100vh;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
